# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
images/pic11.jpg
images/pic10.jpg
images/pic09.jpg
images/pic01.jpg
images/pic02.jpg
images/pic03.jpg
images/pic04.jpg
images/pic05.jpg
images/pic06.jpg
images/pic07.jpg
images/pic08.jpg
assets/css/fontawesome-all.min.css
assets/css/main.css
assets/css/noscript.css
assets/js/breakpoints.min.js
assets/js/browser.min.js
assets/js/jquery.min.js
assets/js/jquery.scrollex.min.js
assets/js/jquery.scrolly.min.js
assets/js/main.js
assets/js/util.js
assets/sass/base/_page.scss
assets/sass/base/_reset.scss
assets/sass/base/_typography.scss
assets/sass/components/_actions.scss
assets/sass/components/_box.scss
assets/sass/components/_button.scss
assets/sass/components/_contact-method.scss
assets/sass/components/_icon.scss
assets/sass/components/_form.scss
assets/sass/components/_icons.scss
assets/sass/components/_image.scss
assets/sass/components/_list.scss
assets/sass/components/_pagination.scss
assets/sass/components/_row.scss
assets/sass/components/_section.scss
assets/sass/components/_spotlights.scss
assets/sass/components/_table.scss
assets/sass/components/_tiles.scss
assets/sass/layout/_banner.scss
assets/sass/layout/_contact.scss
assets/sass/layout/_footer.scss
assets/sass/layout/_header.scss
assets/sass/layout/_main.scss
assets/sass/layout/_menu.scss
assets/sass/layout/_wrapper.scss
assets/sass/libs/_breakpoints.scss
assets/sass/libs/_functions.scss
assets/sass/libs/_html-grid.scss
assets/sass/libs/_mixins.scss
assets/sass/libs/_vars.scss
assets/sass/libs/_vendor.scss
assets/sass/main.scss
assets/sass/noscript.scss
assets/webfonts/fa-brands-400.eot
assets/webfonts/fa-brands-400.svg
assets/webfonts/fa-brands-400.ttf
assets/webfonts/fa-brands-400.woff
assets/webfonts/fa-brands-400.woff2
assets/webfonts/fa-regular-400.eot
assets/webfonts/fa-regular-400.svg
assets/webfonts/fa-regular-400.ttf
assets/webfonts/fa-regular-400.woff
assets/webfonts/fa-regular-400.woff2
assets/webfonts/fa-solid-900.eot
assets/webfonts/fa-solid-900.svg
assets/webfonts/fa-solid-900.ttf
assets/webfonts/fa-solid-900.woff
assets/webfonts/fa-solid-900.woff2
forty/elements.html
forty/generic.html
forty/index.html
forty/landing.html
images/banner.jpg
prepros.config
