#header {
	display: flex;
	background-color: $color-a;
	box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
	cursor: default;
	font-weight: 600;
	height: $height-unit;
	left: 0;
	letter-spacing: 0.25em;
	line-height: 3.25em;
	margin: 0;
	position: fixed;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 10000;

	&>.logo>img {
		margin-top: 1rem;
		margin-bottom: auto;
		margin-left: 1rem;
		max-height: 4.8rem;
		max-width: 57vw;
		vertical-align: bottom;
	}

	.monogramm>img {
		padding-bottom: 10px;
		max-width: calc(9vw + 10px);
	}

	&>a>img {
		margin-top: 1rem;
		margin-bottom: auto;
		margin-left: 1rem;
		max-height: 80%;
	}


	nav {
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
		height: inherit;
		line-height: inherit;

		a {
			border: 0;
			display: block;
			font-size: 0.8em;
			height: inherit;
			line-height: inherit;
			padding: 0 0.75em;
			position: relative;
			vertical-align: middle;

			&:last-child {
				padding-right: 1.5em;
			}

			&[href="#menu"] {
				padding-right: 3.325em !important;

				&:before,
				&:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 40px 60px;
					content: '';
					display: block;
					height: 100%;
					position: absolute;
					right: 1.5em;
					top: 0;
					vertical-align: middle;
					width: 40px;
				}

				&:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
					opacity: 0;
					z-index: 1;
				}

				&:hover,
				&:active {
					&:after {
						opacity: 1;
					}
				}

				&:last-child {
					padding-right: 3.875em !important;

					&:before,
					&:after {
						right: 3em;
					}
				}
			}
		}
	}
}