#main {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 0.5*$height-unit;
    max-width: 22*$height-unit;

    header {
        margin-bottom: 2rem;

    }

    h2 {
        font-size: 2rem;
        padding-bottom: 0.7rem;
        line-height: 90%;
    }

    h2:after {
        content: '';
        background-color: white;
        display: block;
        height: 2px;
        width: 100%;
        margin: 0.5em 0 0 0;
    }

    p {
        font-size: $p-font-size;
        font-weight: 300;
        line-height: 2rem;
        padding-bottom: 1rem;
        max-width: 15*$height-unit;
    }

    .wp-block-column {
        max-width: 15*$height-unit;
    }

    @media (min-width: 782px) {
        .wp-block-lazyblock-two-columns:nth-child(even) {
            .text {
                order: 2;
                margin-left: 2em;
            }

            .media {

                order: 1;
                margin-left: 0;
            }
        }
    }


    img {
        height: auto;
    }

    .wp-block-embed iframe {
        max-width: 100%;
        width: 50%;
    }

    .agenda-title {
        display: inline-block;
        //float: left;
    }

    .archive-link {
        font-size: 1.5rem;
        font-weight: 300;
        float: right;
    }

    .event-wrapper {
        font-size: $p-font-size;
        font-weight: 300;
        //line-height: 1.5rem;
        padding-bottom: 1rem;
        display: block;

        .date-time-block {
            display: inline-block;
            padding-right: 2rem;
        }

        .title-location-block {
            vertical-align: top;
            width: 30rem;

            .event-title {
                font-weight: 400;
            }

            display: inline-block;
        }

        .content {
            margin-top: 2rem;
        }
    }

    .project-covers {
        margin-left: -20px;
        margin-right: -20px;
        font-size: 1.4rem;
        font-weight: 300;

        .project-cover {
            width: 14rem;
            display: inline-block;
            margin: 20px;

            img {
                max-width: 100%;
                height: 14rem;
                object-fit: cover;
                vertical-align: bottom;
                margin-bottom: 10px;
            }
        }
    }

}